body {
    height: 100% !important;
    background-color: white;
}
#page-wrapper {
    height: 100%;
}

.equal-margin-top-bottom {
    margin-bottom: 20px;
    margin-top: 20px;
}

.small-text {
    font-size: small;
    font-weight: 300;
    font-style: italic;
}

.master-pane,
.details-pane {
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f5f5;
    overflow-y: hidden;
}

.master-pane:hover,
.details-pane:hover {
    overflow-y: scroll;
}

.master-pane {
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #777;
}

.details-pane {
    border-radius: 0 4px 4px 0;
}

.master-pane-group {
    padding-left: 0 !important;
}

.master-pane-item {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.master-pane-item:hover {
    background-color: rgba(0, 0, 0, .25);
    text-decoration: none;
}

.master-pane-item.active {
    background-color: rgba(0, 0, 0, .25);
    text-decoration: none;
}

.button-group {
    margin-bottom: 20px;
}

#loading {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading img {
    max-height: 150px;
    text-align: center;
}


.strong {
    font-weight: 700;
}

#polls-list-container > ul,
#comment-list-container > ul {
    height: 300px;
    overflow-y: scroll;
}

